{% extends "base.html" %}
{% load static %}
{% block body_block %}

<div class="container">
  <div class="jumbotron">
    <h1 class="display-4" >Order System</h1>
    {% if user.is_authenticated %}
    <p class="lead">Welcome {{ user.username }}!</p>
    {% else %}
    <p class="lead">Welcome to the site!</p>
    {% endif %}
    <p>This system will help you track order information or manage order, invoices and proof</p>
    <ul>
      <li>This website is designed for a client who has commercial business <strong>across China and USA</strong> </li>
      <li>This website provides four types users account and each of those account provide different nav boards</li>
      <br/>
      <li><strong>Customer</strong> demo account</li>
      <ul>
        <li>Username: testor1</li>
        <li>Password: goodtest2</li>
      </ul>
      <br/>
      <li><strong>Staff in China</strong> demo account</li>
      <ul>
          <li>Username: testor2</li>
          <li>Password: goodtest3</li>
        </ul>
      <br/>
      <li><strong>Staff in USA</strong> demo account</li>
      <ul>
        <li>Username: testor3</li>
        <li>Password: goodtest4</li>
      </ul>

      <br/>
      <li><strong>Supervisor</strong> demo account</li>
      <ul>
        <li>Username: testor4</li>
        <li>Password: goodtest5</li>
      </ul>
    </ul>
  </div>
</div>
</div><!-- /.container -->

<div class="container">
  <h3>Order and Delivery</h3>
  <div class="row">
    <div class="col-lg-4 col-4 px-0"><img class="img-thumbnail img-fluid" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/C5Y10KIIHA.jpg" alt=""></div>
    <div class="col-lg-4 col-4 px-0"><img class="img-thumbnail img-fluid" src="{% static 'image/graph2.jpg' %}" alt=""></div>
    <div class="col-lg-4 col-4 px-0"><img class="img-thumbnail img-fluid" src="{% static 'image/graph3.jpg' %}" alt=""></div>
    <div class="col-lg-4 col-4 px-0"><img class="img-thumbnail img-fluid" src="{% static 'image/graph4.jpg' %}" alt=""></div>
    <div class="col-lg-4 col-4 px-0"><img class="img-thumbnail img-fluid" src="{% static 'image/graph5.jpg' %}" alt=""></div>
    <div class="col-lg-4 col-4 px-0"><img class="img-thumbnail img-fluid" src="{% static 'image/graph7.jpg' %}" alt=""></div>
  </div>
</div><!-- /.container -->


{% endblock %}
