{% extends 'base.html' %}
{% block body_block %}

{% load static %}
{% block javascript %}
    <script src="{% static 'js/staff_in_USA.js' %}"></script>
{% endblock %}
<div class="jumbotron">
  <h2 id = "myh2">Create or Update form</h2>
  <p class="lead" id="myp">Order form and information :</p>
</div>
<div class="col-xs-1" align="center"><img class="img-thumbnail img-fluid" src={{pic_src}} alt="No graph or graph crashes"></div>
<form action="{% url 'basic_app:OrderCreating' %}" method="POST" id="post_form">
        {% csrf_token %}
        <label for="npc_form">Forms: </label>
        <table class="table table-bordered" >
            <thead>
                <tr >
                    <th scope="col">Attributes</td>
                    <th scope="col"> Value</td>
                </tr>
            </thead>
            <tbody id = "mytbody">
                <tr>
                    <td>Order Number</td>
                    <td><input type="text" name = "1" value="{{listpart.0}}" required></td>
                </tr>
                <tr>
                    <td>Order Date</td>
                    <td><input type="date" name = "2" value="{{listpart.1}}" required></td>
                </tr>
                <tr>
                    <td>In Hand Date</td>
                    <td><input type="date" name = "3" value="{{listpart.2}}" required></td>
                </tr>
                <tr>
                    <td>Shipping Method</td>
                    <td><input type="text" name = "4" value="{{listpart.3}}" required></td>
                </tr>
                <tr>
                    <td>Deliver Address</td>
                    <td><input type="text" name = "5" value="{{listpart.4}}" required></td>
                </tr>
                <tr>
                    <td>Item Number</td>
                    <td><input type="text" name = "6" value="{{listpart.5}}" required></td>
                </tr>
                <tr>
                    <td>Materials</td>
                    <td><input type="text" name = "7" value="{{listpart.6}}" required></td>
                </tr>
                <tr>
                    <td>Quantity</td>
                    <td><input type="text" name = "8" value="{{listpart.7}}" required></td>
                </tr>
                <tr>
                    <td>Imprint Color</td>
                    <td><input type="text" name = "9" value="{{listpart.8}}" required></td>
                </tr>
                <tr>
                    <td>Imprint Method</td>
                    <td><input type="text" name = "10" value="{{listpart.9}}" required></td>
                </tr>
                <tr>
                    <td>Product Color</td>
                    <td><input type="text" name = "11" value="{{listpart.10}}" required></td>
                </tr>
                <tr>
                    <td>Customer Name</td>
                    <td><input type="text" name = "12" value="{{listpart.11}}" required></td>
                </tr>
                <tr>
                    <td>P.O. number</td>
                    <td><input type="text" name = "13" value="{{listpart.12}}" required></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                        <th>
                            <input name = "image" id="photoupload" type="file" accept="image/*">
                        </th>
                        <th>
                            {% csrf_token %}
                            <input type="button" id = "addphoto" onclick= addPhoto('myalbum') value="upload grpah" > </input>
                        </th>
                    </tr>
                {% for k, v1 in newCompound.items %}
                <tr>
                    <td><input type="text" value = "{{v1.0}}" name = "{{k}}"></td>
                    <td><input type="text" value = "{{v1.1}}" name = "{{k | add:"1"}}"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% csrf_token %}
         <input type="button" align="right" class="btn btn-primary float-right" value="Add New Row" onclick="addRow();" id="add-row">
        </br>
        </br>
        <!-- comment this out to actually submit -->
        <input type="submit" class="btn btn-dark float-right" value="Submit">
    
        <!-- uncomment this to actually submit -->
        <!-- <input type="submit" value="Submit"> -->
  </form>
{% endblock %}


