{% extends "base.html" %}
{% load staticfiles %}

{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      {% if registered %}
        <h1>Thank you for registering!</h1>
      {% else %}
        <h1>Register Here</h1>
        <h3>Just fill out the form. </h3>
        <br/>
        <h4>For safe purpose, only customer account doesn't require supervisor to activate. All staff account are activation-required</h4>
      </div>
        <form enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" name="" class="btn btn-info" value="Register">
        </form>

      {% endif %}

   

  </div>

{% endblock %}
