{% extends 'base.html' %}
{% block body_block %}

{% load static %}
{% block javascript %}
    <script src="{% static 'js/staff_in_USA.js' %}"></script>
{% endblock %}
<div class="jumbotron">
    <h2 id = "myh2">Create or Update Invoice</h2>
    <p class="lead" id="myp">Invoice form and information :</p>
    <li>This page is available for both supervisor and staff in USA account types</li>
    <li><Strong>Rating service</Strong> provides UPS account alive package rating which guaranteed user get 100% accurate alive rating price on specific delivery day from UPS service</li>
    <li><Strong>Rating service</Strong> has algorithm to figure out the cheapest price according to users' typing conditions</li>
    <li>In <Strong>Rating service</Strong>, we also apply google geolocation api to correct or auto-complete user's typing </li>
    <li><Strong>Invoice Form</Strong> is fully flexible, user can add or delete (leave row blank) entries for order </li>
</div>
<form action="{% url 'basic_app:InvoiceCreate' %}" method="POST" >
    {% csrf_token %}
    <table class = "table table-bordered" >
        <thead class="thead-dark" >
            <tr>
                <th scope="col">Ship From</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    City <input type="text" name="fc" id="auto"required> 
                </td>
                <td>
                    State <input type="text" name="fs" id="fromstate" required>
                </td>
                <td>Country Code <select id = "fco" name="fco" >
                    <option value="US">US</option>
                    <option value="CN">CN</option>
                </select></td>
            </tr>
            <tr>
                <td>Zip Code <input type="number" name="fz" maxlength="6" required></td>
                <td>Status <select name="ifr" >
                    <option value="residential">residential</option>
                    <option value="commercial">commercial</option>
                </select></td>
            </tr>
        </tbody>
    </table>
    <table class = "table table-bordered" >
        <thead class="thead-dark" >
            <tr>
                <th scope="col">Shiip To</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    City <input type="text" name="tc" id= 'auto2' required>
                </td>
                <td>
                    State <input type="text" name="ts" id="tostate"required>
                </td>
                <td>Country Code  <select name="tco" id="tco" >
                    <option value="US">US</option>
                    <option value="CN">CN</option>
                </select></td>
            </tr>
            <tr>
                <td>Zip Code <input type="number" name="tz" required></td>
                <td>Status  <select name="itr" >
                    <option value="residential">residential</option>
                    <option value="commercial">commercial</option>
                </select></td>
            </tr>
        </tbody>
    </table>
    <table class = "table table-bordered" >
        <thead class="thead-dark" >
            <tr>
                <th scope="col">Package Information</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
            <tr>
                <td>Width <input type="number" name="wd" required></td>
                <td>
                Lenth <input type="number" name="le" required>
                </td>
                <td>Height <input type="number" name="he" required></td>
            </tr>
                
            <tr>
                <td>Weight <input type="number" name="we" required></td>
                <td>Number of Package <input type="number" name="nop" required></td>
            </tr>
            <tr>
                <td>Pickup Date <input type="date", name="pcd"></td>
                <td>Delivered Date <input type="date", name="dd"></td>
                <td>Assoicated Invoice # <input type="text"name="idx" value="{{firstpart.0}}"></td>
            </tr>
            <script>
                var tod = new Date().toISOString().split('T')[0];
                document.getElementsByName("pcd")[0].setAttribute('min', tod);
                document.getElementsByName("dd")[0].setAttribute('min', tod); 
            </script>
        <tbody>

        </tbody>
    </table>
    <div class="container border">
            <div class="row border ">
                <div class="col border" align="cerntered">Result :</div>
                <div class="col-10 mh-100 border">{{result}}</div>
            </div>
    </div>
</br>
    <button class="btn btn-success float-right" type="submit">USP Quota</button>
</form>

</br>
</br>
<form action="#" method="post" id="post_form">
        {% csrf_token %}
        <label for="npc_form">New Order: </label>
        <table class="table table-bordered" >
            <tbody id = "mytbody">
                <tr>
                    <td>Invoice #</td>
                    <td><input type="text" name = "1" value="{{firstpart.0}}" required></td>
                </tr>
                <tr>
                    <td>Invoice Date</td>
                    <td><input type="date" name = "2" value="{{firstpart.1}}" required></td>
                </tr>
                <tr>
                    <td>P.O.#</td>
                    <td><input type="text" name = "3" value="{{firstpart.2}}" required></td>
                </tr>
                <tr>
                    <td>Bill To</td>
                    <td><input type="text" name = "4" value="{{firstpart.3}}" required></td>
                </tr>
                <tr>
                    <td>Ship To</td>
                    <td><input type="text" name = "5" value="{{firstpart.4}}" required></td>
                </tr>
                <tr>
                    <td>Due Date</td>
                    <td><input type="date" name = "6" value="{{firstpart.5}}" required></td>
                </tr>
                <tr>
                    <td>Customer Name</td>
                    <td><input type="text" name = "7" value="{{firstpart.6}}" required></td>
                </tr>
                
            </tbody>
        </table>
        
        </br>
        </br>
        
        <table class="table table-bordered" >
            <thead>
                <tr>
                    <th scope="col">QTY</td>
                    <th scope="col">DESCRIPTION</td>
                    <th scope="col">UNIT PRICE</th>
                </tr>
            </thead>
            <tbody id = "detailbody">
                {% for key, items in secondpart.items %}
                    <tr>
                        <th><input type="number" step="any" name="{{key}}" value="{{items.0}}"></th>
                        <th><input type="text" name="{{key | add:"1"}}" value="{{items.1}}"></th>
                        <th><input type="number" step="any" name="{{key | add:"2"}}" value="{{items.2}}"></th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <input type="button" align="right" class="btn btn-primary float-right" value="Add New Row" onclick="addDetail();" id="add-row">
        </br>
        </br>
        </br>

        <!-- comment this out to actually submit -->
        <input type="submit" class="btn btn-dark float-right" value="Submit">
    
        <!-- uncomment this to actually submit -->
        <!-- <input type="submit" value="Submit"> -->
    </form>
     </br>
    </br>
    </br>
    </br>
    <script>
            // This example displays an address form, using the autocomplete feature
            // of the Google Places API to help users fill in the information.
      
            // This example requires the Places library. Include the libraries=places
            // parameter when you first load the API. For example:
            // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">
            var autocomplete, autocomplete2;
            function initAutocomplete() {
                // Create the autocomplete object, restricting the search to geographical
                // location types.
                autocomplete = new google.maps.places.Autocomplete(
                  /** @type {!HTMLInputElement} */(document.getElementById('auto')),
                    {types: ['geocode']});
                // When the user selects an address from the dropdown, populate the address
                // fields in the form.
                autocomplete.addListener('place_changed', fillInAddress);

                autocomplete2 = new google.maps.places.Autocomplete(
                  /** @type {!HTMLInputElement} */(document.getElementById('auto2')),
                    {types: ['geocode']});
                autocomplete2.addListener('place_changed', fillInAddress2);
            }

            function fillInAddress() {
                // Get the place details from the autocomplete object.
                var place = autocomplete.getPlace();
                document.getElementById('auto').value = '';
                document.getElementById("fromstate").value = '';
                console.log(place.address_components.length);
                // console.log((place.address_components);
                console.log(place.address_components[0]['short_name']);
                console.log(place.address_components[1]['short_name']);
                console.log(place.address_components[2]['short_name']);
                console.log(place)
                if (place.address_components.length == 4){
                    document.getElementById('fco').value = 'US';
                    document.getElementById('auto').value = place.address_components[0]['short_name'];
                    document.getElementById("fromstate").value = place.address_components[2]['short_name'];
                    } else if (place.address_components.length == 3) {
                    document.getElementById('fco').value = 'CN';
                    document.getElementById('auto').value = place.address_components[0]['short_name'];
                    document.getElementById("fromstate").value = place.address_components[1]['short_name'];
                } else if(place.address_components.length == 5) {
                    document.getElementById('fco').value = 'CN';
                    document.getElementById('auto').value = place.address_components[0]['short_name'];
                    document.getElementById("fromstate").value = place.address_components[3]['short_name'];
                }
            }

            function fillInAddress2() {
                // Get the place details from the autocomplete object.
                var place = autocomplete2.getPlace();
                document.getElementById('auto2').value = '';
                document.getElementById("tostate").value = '';
                // console.log(place.address_components.length);
                console.log(place)
                var array = [];
                console.log(place.address_components);
                if (place.address_components.length == 4){
                    document.getElementById('tco').value = 'US';
                    document.getElementById('auto2').value = place.address_components[0]['short_name'];
                    document.getElementById("tostate").value = place.address_components[2]['short_name'];
                    } else if (place.address_components.length == 3) {
                    document.getElementById('tco').value = 'CN';
                    document.getElementById('auto2').value = place.address_components[0]['short_name'];
                    document.getElementById("tostate").value = place.address_components[1]['short_name'];
                } else if (place.address_components.length == 5 ) {
                    document.getElementById('tco').value = 'US';
                    document.getElementById('auto2').value = place.address_components[0]['short_name'];
                    document.getElementById("tostate").value = place.address_components[3]['short_name'];
                }
                // for( i = 0; i < place.address_components.length ; i ++ ) {
                //     if (place.address_components[i]['short_name'] == 'CN') {

                //     }
                // }
            }
        </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYLIf262Crle3mcmG31LzUuygNSSQShn4&libraries=places&callback=initAutocomplete"
    async defer></script>
{% endblock %}
