{% extends 'base.html' %}
{% block body_block %}

{% load static %}
{% block javascript %}
    <script src="{% static 'js/staff_in_USA.js' %}"></script>
{% endblock %}
<div class="jumbotron">
    <h2 id = "myh2">Create or Update Invoice</h2>
    <p class="lead" id="myp">Invoice form and information :</p>
</div>
<form action="{% url 'basic_app:InvoiceCreate' %}" method="POST" >
    {% csrf_token %}
    <table class = "table table-bordered" >
        <thead class="thead-dark" >
            <tr>
                <th scope="col">Shiip From</th>
                <th scope="col">Ship To</th>
                <th scope="col">Package Information</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    City <input type="text" name="fc"> 
                </td>
                <td>
                    City <input type="text" name="tc">
                </td>
                <td>
                    Lenth <input type="number" name="le" required>
                </td>
                </tr>
                <tr>
                    <td>
                    State <input type="text" name="fs">
                </td>
                    <td>
                    State <input type="text" name="ts">
                    </td>
                    <td>Width <input type="number" name="wd" required></td>
                </tr>
                    <tr>
                        <td>
                            Country Code <input type="text" name="fco" required>
                        </td>
                        <td>
                            Country Code <input type="text" name="tco" required>
                        </td>
                        <td>Height <input type="number" name="he" required></td>
                    </tr>
                    <tr>
                        <td>Zip Code <input type="text" name="fz" required></td>
                        <td>Zip Code <input type="text" name="tz" required></td>
                        <td>Number of Package <input type="number" name="nop" required></td>
                    </tr>
                    <tr>
                        <td>Status <select name="ifr" >
                            <option value="residential">residential</option>
                            <option value="commercial">commercial</option>
                        </select></td>
                        <td>Status  <select name="itr" >
                            <option value="residential">residential</option>
                            <option value="commercial">commercial</option>
                        </select></td>
                        <td>Pickup Date <input type="date", name="pcd"></td>
                        <tr>
                            <td></td>
                            <td>Weight <input type="number" name="we" required></td>
                            <td>Delivered Date <input type="date", name="dd"></td>
                    </tr>
            </tr>
        </tbody>
    </table>
    <div class="container border">
            <div class="row border ">
                <div class="col border" align="cerntered">Result :</div>
                <div class="col-10 mh-100 border">{{result}}</div>
            </div>
    </div>
</br>
    <button class="btn btn-success float-right" type="submit">USP Quota</button>
</form>

</br>
</br>
<form action="#" method="post" id="post_form">
        {% csrf_token %}
        <label for="npc_form">New Order: </label>
        <table class="table table-bordered" >
            <tbody id = "mytbody">
                <tr>
                    <td>Invoice #</td>
                    <td><input type="text" name = "1"></td>
                </tr>
                <tr>
                    <td>Invoice Date</td>
                    <td><input type="text" name = "2"></td>
                </tr>
                <tr>
                    <td>P.O.#</td>
                    <td><input type="text" name = "3"></td>
                </tr>
                <tr>
                    <td>Bill To</td>
                    <td><input type="text" name = "4"></td>
                </tr>
                <tr>
                    <td>Ship To</td>
                    <td><input type="text" name = "5"></td>
                </tr>
                <tr>
                    <td>Due Date</td>
                    <td><input type="text" name = "6"></td>
                </tr>
                <tr>
                    <td>Customer Name</td>
                    <td><input type="text" name = "7"></td>
                </tr>
                
            </tbody>
        </table>
        
        </br>
        </br>
        
        <table class="table table-bordered" >
            <thead>
                <tr >
                    <th scope="col">QTY</td>
                    <th scope="col">DESCRIPTION</td>
                    <th scope="col">UNIT PRICE</th>
                </tr>
            </thead>
            <tbody id = "detailbody">
                <tr>
                    <td><input type="text" name = "8"></td>
                    <td><input type="text" name = "9"></td>
                    <td><input type="text" name = "10"></td>
                </tr>
            </tbody>
        </table>
        <input type="button" align="right" class="btn btn-primary float-right" value="Add New Row" onclick="addDetail();" id="add-row">
        </br>
        </br>
        </br>

        <!-- comment this out to actually submit -->
        <input type="submit" class="btn btn-dark float-right" value="Submit">
    
        <!-- uncomment this to actually submit -->
        <!-- <input type="submit" value="Submit"> -->
    </form>
     </br>
    </br>
    </br>
    </br>
{% endblock %}
