{% extends 'base.html' %}

{% load static %}

{% block javascript %}
    <script src="{% static 'js/app.js' %}"></script>
{% endblock %}

{% block body_block %}
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Order Details</h1>
  </div><!-- /.jumbotron -->
  {% if dic == None %}
    <p>You don't have any proof</p>
    {% else %}
      <div class="col-xs-1" align="center"><img class="img-thumbnail img-fluid" src={{pic_src}} alt="No graph or graph crashes"></div>
      <br>
      <table class = "table table-striped">
          <thead>
            <tr>
              <th scope="col">Information</th>
              <th scope="col">Detail</th>
            </tr>
          </thead>
          <tbody>
            {% for key, values in dic.items %}
              <tr>
                <td>{{key}}</td>
                <td>{{values}}</td>
              </tr>
            {% endfor %}
          </tbody>
      </table>
    <form method='post' action="">
        {% csrf_token %}
        <table class = "table table-striped" >
            <tr>
                <th>
                    <input name = "image" id="photoupload" type="file" accept="image/*">
                </th>
                <th>
                    {% csrf_token %}
                    <input type="button" id = "addphoto" onclick= addPhoto('myalbum') value="upload grpah" > </input>
                </th>
            </tr>
            <tr>
                <th>Confirm Order Number <input type="text" name="secondNumber" required ></th>
                {% csrf_token %}
                <th><input type="submit"  class="btn btn-info float-right" ></th>
            </tr>
        </table>    
    </form>
{% endif %}

{% endblock %}