{% extends 'base.html' %}
{% block body_block %}
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">This page for staff in USA mangament</h1>
    <p class="lead">Items below are all invoices in our systems </p>
  </div><!-- /.jumbotron -->

  <p>
      <form action="{% url 'basic_app:InvoiceCreate' %}">
        <input value=" New Invoice" class="btn btn-primary js-create-order" type="submit">
      </form>
  </p>
    



  <table class = "table table-striped">
        <thead>
          <tr>
            <th scope="col">Invoice Number</th>
            <th scope="col">Invoice Date</th>
            <th scope="col">Invoice Total Amount</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            {% for invoice in listofInvoices %}
                <tr>
                  {% for subitem in invoice %}
                    <td>{{subitem}}</td>
                  {% endfor %}
                  <td style="width: 150px">
                        <form action="{% url 'basic_app:InvoiceCreate' %}" method="POST">
                            {% csrf_token %}
                          <input type="hidden" value="{{invoice.0}}" name="invoiceNumber">
                            <button type="submit"
                            class="btn btn-warning btn-sm js-update-order"
                            data-url="#">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </button>
                        </form>
                    </td>
                    <td>
                        <form action=""method="POST">
                        {% csrf_token %}
                        <button type="submit"
                                class="btn btn-danger btn-sm js-delete-order"
                                data-url="#">
                          <span class="glyphicon glyphicon-trash"></span> Delete
                        </button>
                      </form>
                      </td>
                    </tr>
                  {% empty %}
                  <tr>
                      <td colspan="8" class="text-center bg-warning">No order</td>
                  </tr>
                  {% endfor %}
        </tbody>
  </table>

</div>
{% endblock %}
