{% extends 'base.html' %}
{% block body_block %}

{% load static %}
{% block javascript %}
    <script src="{% static 'js/staff_in_USA.js' %}"></script>
{% endblock %}
<div class="jumbotron">
    <h2 id = "myh2">Create or Update Invoice</h2>
    <p class="lead" id="myp">Invoice form and information :</p>
</div>

<form action="#" method="post" id="post_form">
        {% csrf_token %}
        <label for="npc_form">New Order: </label>
        <table class="table table-bordered" >
            <tbody id = "mytbody">
                <tr>
                    <td>Invoice #</td>
                    <td><input type="text" name = "1"></td>
                </tr>
                <tr>
                    <td>Invoice Date</td>
                    <td><input type="text" name = "2"></td>
                </tr>
                <tr>
                    <td>P.O.#</td>
                    <td><input type="text" name = "3"></td>
                </tr>
                <tr>
                    <td>Bill To</td>
                    <td><input type="text" name = "4"></td>
                </tr>
                <tr>
                    <td>Ship To</td>
                    <td><input type="text" name = "5"></td>
                </tr>
                <tr>
                    <td>Due Date</td>
                    <td><input type="text" name = "6"></td>
                </tr>
                <tr>
                    <td>Customer Name</td>
                    <td><input type="text" name = "7"></td>
                </tr>
                
            </tbody>
        </table>
            <input type="button" align="right" class="btn btn-primary float-right" value="Add New Row" onclick="addRow();" id="add-row">
        </br>
        </br>
        
        <table class="table table-bordered" >
            <thead>
                <tr >
                    <th scope="col">QTY</td>
                    <th scope="col">DESCRIPTION</td>
                    <th scope="col">UNIT PRICE</th>
                </tr>
            </thead>
            <tbody id = "detailbody">
                <tr>
                    <td><input type="text" name = "8"></td>
                    <td><input type="text" name = "9"></td>
                    <td><input type="text" name = "10"></td>
                </tr>
            </tbody>
        </table>
        <input type="button" align="right" class="btn btn-primary float-right" value="Add New Row" onclick="addDetail();" id="add-row">
        </br>
        </br>
        </br>

        <!-- comment this out to actually submit -->
        <input type="button" class="btn btn-dark float-right" value="Submit">
    
        <!-- uncomment this to actually submit -->
        <!-- <input type="submit" value="Submit"> -->
    </form>
     </br>
    </br>
    </br>
    </br>
{% endblock %}
