{% extends 'base.html' %}
{% block body_block %}
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">This page for staff in USA mangament</h1>
    <p class="lead">Items below are all orders in our systems </p>
  </div><!-- /.jumbotron -->

  <p>
      <form action="{% url 'basic_app:OrderCreating' %}">
        <input value=" New Order" class="btn btn-primary js-create-order" type="submit">
      </form>
  </p>
    



  <table class = "table table-striped">
        <thead>
          <tr>
            <th scope="col">Order Number</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Customer Address</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            {% for order in list_all_order %}
                <tr>
                  {% for subitem in order %}
                    <td>{{subitem}}</td>
                  {% endfor %}
                  <td style="width: 150px">
                        <form action="{% url 'basic_app:OrderCreating' %}" method="POST">
                            {% csrf_token %}
                          <input type="hidden" value="{{order.0}}" name="orderID">
                            <button type="submit"
                            class="btn btn-warning btn-sm js-update-order"
                            data-url="#">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </button>
                        </form>
                    </td>
                    <td>
                        <form action="{% url 'basic_app:StaffInUSAMangement' %}" method="POST" onsubmit="window.mytest()">
                        {% csrf_token %}
                        <input type="hidden" value="{{order.0}}" name="orderID">
                        <button type="submit" 
                                class="btn btn-danger btn-sm js-delete-order"
                                data-url="#">
                          <span class="glyphicon glyphicon-trash"></span> Delete
                        </button>
                      </form>
                      <script type="text/javascript">window.mytest = function() { 
                        var isValid = confirm('Are you sure to delete?'
                        );if (!isValid) { event.preventDefault();  alert("It wont delete. Check out!");}}</script>
                      </td>
                    </tr>
                  {% empty %}
                  <tr>
                      <td colspan="8" class="text-center bg-warning">No order</td>
                  </tr>
                  {% endfor %}
        </tbody>
  </table>

</div>
{% endblock %}
