{% extends 'base.html' %}
{% block body_block %}
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">This page for proof view </h1>
    <p class="lead">Items below are all invoices in our systems </p>
  </div><!-- /.jumbotron -->
    



  <table class = "table table-striped">
        <thead>
          <tr>
            <th scope="col">PO Number</th>
            <th scope="col">Item Number</th>
            <th scope="col">Quantity</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            {% for proof in listOfProof %}
                <tr>
                  {% for subitem in proof %}
                    <td>{{subitem}}</td>
                  {% endfor %}
                  <td style="width: 150px">
                        <form action="{% url 'basic_app:proofDetailsView' %}" method="POST">
                            {% csrf_token %}
                          <input type="hidden" value="{{proof.0}}" name="number">
                            <button type="submit"
                            class="btn btn-warning btn-sm js-update-order"
                            data-url="#">
                            <span class="glyphicon glyphicon-pencil"></span> View
                        </button>
                        </form>
                    </td>
                    </tr>
                  {% empty %}
                  <tr>
                      <td colspan="8" class="text-center bg-warning">No order</td>
                  </tr>
                  {% endfor %}
        </tbody>
  </table>

</div>
{% endblock %}